{% extends 'layout.html' %}

{% block content %}

<body style="height:93vh">
    <div style="text-align:center">
        </br>
        <div style="margin-left:80vw" >
            <a href='/Login'>
                <button style="width:90px; height:35px; background:white; border-radius:10px; font-size: 12pt; color:#333; border-color:#333; border-style:solid; border-width:2px;cursor:pointer">로그인</button>
            </a>
        </div>
        <h1 style="margin-top:5vh">지금 바로 돈을 벌어볼까요?</h1>
        <img alt="potato_home" src="static\images\homePotato.png" style="height:50vh; margin-top:5vh">
        <a style="text-decoration-line:none" href="/Upload"><h3 style="margin-top:5vh;color:black;">물건 올리러 가기→</h3></a>
    </div>
</body>
{% endblock %}