{% extends 'layout.html' %}

{% block content %}

<body style="height:93vh">
    <div style="text-align:center">
        <img alt="complete" src="static\images\complete.png" style="height:10vh; margin-top:20vh">
        <h1 style="margin-top:10vh">감자마켓의 가족이 되신 것을 환영합니다!</h1>
        <h5>회원님은 감자마켓의 모든 기능을 사용하실 수 있습니다.</h5>
        <div style="display:flex;justify-content:center">
            <a style="text-decoration-line:none" href="/Login"><h4 style="margin-top:5vh;color:white;background:#0071e3;padding:8px 16px;border-radius:10px">로그인</h4></a>
            <a style="text-decoration-line:none" href="/"><h4 style="margin-top:5vh;color:white;background:#0071e3;padding:8px 16px;border-radius:10px;margin-left:10px">메인으로</h4></a>
        </div>        
    </div>
</body>
{% endblock %}